 /* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navLinks {
    list-style-type: none;
    display: flex;
  }
  
  .navLinks li {
    margin-right: 1rem;
  }
  
  .navLinks a {
    color: #fff;
    text-decoration: none;
  }
  
  .navLinks a:hover {
    text-decoration: underline;
  }
    */


    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #b3d4bc; /* Change background color to white */
      color: white; /* Change text color to dark */
      padding: 1rem 2rem; /* Adjust padding horizontally */
      border-radius: 90px; /* Increase border-radius for a more rounded shape */
      max-width: 990px; /* Set a maximum width for the navbar */
      margin: 0 auto; /* Center the navbar horizontally */
    }
    
    .logo a {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333; /* Change text color to dark */
      text-decoration: none;
    }
    
    .navLinks {
      list-style-type: none;
      display: flex;
    }
    
    .navLinks li {
      margin-right: 0.9rem
    }

    .navLinks a {
      color: #333; /* Change text color to dark */
      text-decoration: none;
    }
    
    .navLinks a:hover {
      text-decoration: underline;
    }
    


    